<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.insece.usbserialreader"
    >

    <!-- Declara que la aplicación utiliza la característica USB host -->
    <uses-feature android:name="android.hardware.usb.host" />
    <!-- Solicita permiso para acceder a dispositivos USB -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/insecelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/insecelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsbSerialReader"
        tools:targetApi="31">

        <!-- Declaración de la actividad principal -->
        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UsbSerialReader"
            android:name=".MainActivity">

            <!-- Filtro de intención para hacer esta actividad el punto de entrada de la app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>